*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body, html{
    width: 100%;
    height: 100%;
}
@font-face{
    font-family: RubikDistressed;
    src:url(../fonts/RubikDistressed.ttf)
}
@font-face{
    font-family: OpenSans;
    src:url(../fonts/OpenSans.ttf)
}

h2, h3, h1{
    font-family:RubikDistressed;
}

p{
    font-family: OpenSans, Times, serif;
    font-weight: 600;
}
header{
    background-image: url('../img/DP-fundo.jpg');
}
.link-img{
    position: absolute;
    top: 10px;
    left: 10px;
}
.link-img a{
    color: white;
    text-decoration: none;
    font-size: 10px;
    cursor: default;
}
.img-logo{
    width: 70%;
    padding-top: 70%;
    background-image: url('../img/logo.png');
    background-position: center;
    background-size: 100% 100%;
    position: relative;
}
.menu{
    width: 64px;
    height: 64px;
    background-color: white;
    border-radius: 50%;
    background-image: url('../img/menu-icone.png');
    background-size: 100% 100%;
    position: fixed;
    z-index: 2;
    cursor: pointer;
    top: 20px;
    right: 20px;
    transition: 1.5s;
}
.menu:hover{
    width: 70px;
    height: 70px;
    transform: rotate(360deg);
}
.fundo-menu{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 3;
    transition: 0.5s;
    display: none;
}
.menu-nav{
    width: 25%;
    height: 100%;
    float: right;
    background-color: #efb435;
}
.menu-nav #botao{
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    font-weight: bold;
    transition: 1s;
}
.menu-nav #botao:hover{
    background-color: rgb(186, 73, 73);
    color: white;
}
.menu-nav ul{
    padding: 50px 0 50px 0;
    list-style: none;
    text-align: center;
}
.menu-nav li{
    width: 100%;
    display: inline-block;
    padding: 5px 0;
    transition: 0.5s;
}
.menu-nav li:hover{
    background-color: rgba(255, 255, 255, 0.7);

}
.menu-nav a{
    text-decoration: none;
    font-style: italic;
    font-size: 25px;
    color: black;
}
/* ACIMA O HEADER */
/* ABAIXO SESSÃO-1 */
.s1{
    background-color: #6f1d00;
    padding-top: 300px;
    padding-bottom: 40px;
    width: 100%;
    text-align: center;
    position: relative;
}
.box{
    position: absolute;
  
}
.b1{
    width : calc(30% - 20px);
    background-color: rgba(0,0,0,0.7);
    margin: 0 20px;
    top: -75px;
    left: 0;
    padding: 20px 20px;
}
.b2{
    width : calc(40% - 20px);
    background-color: rgba(110,80,20,0.7);
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    padding: 30px 35px;
    
}
.b2 p{
    font-size: 19px;
}
.b3{
    width : calc(30% - 20px);
    background-color: rgba(0,0,0,0.7);
    margin: 0 20px;
    top: -75px;
    padding: 20px 20px;
    right: 0;
}
.box-text{
    position: relative;
    top: 50%;
    transform: translatey(-50%);
}
.imagem{
    background-image: url('../img/itapema.png');
    background-position: center;
    background-size: auto 100%;
    padding-top: 50%;
    border-radius: 50%;
}
/* ACIMA A SESSÃo-1 */
/* ABAIXO A SESSÃO-2 */
.s2{
    width: 100%;
    background-image: url('../img/DP-fundo2.jpg');
    background-position: center;
    text-align: center;
    position: relative;
}
.box2{
    width: 300px; 
    height: 200px;
    background-color: rgba(255, 255, 255, 0.4);
    float: right;
    margin-top: 30px;
    padding: 30px;
    text-align: center;
    cursor: pointer;
    transition: 1s;
    border-radius: 15px;
}
.box2:hover{
    background-color: rgba(255, 255, 255, 0.9);
}
.h1{
    margin-left: 20px;
    font-size: 60px;
    color: #d01410;
}
#botao2{
    border: none;
    width: 300px;
    height: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    color: #efb435;
    background-color: #b90e14;
    border-radius: 30px;
    position: relative;
    bottom: 100px;
    left: 100px;
    display: block;
    margin-top: 30px;
}
#botao2:hover{
    background-color: #6f1d00;
}
/* ACIMA A SESSÃO-2 */
/* ABAIXO O FOOTER */
    #btn-wpp{
    border: none;
    box-shadow: 5px 5px 5px black;
    width: 300px;
    height: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    background-color: #00c739;
    border-radius: 30px;
    transition: 0.5s;
    }
    #btn-wpp:hover{
        background-color: #008927;
    }
/* ACIMA O FOOTER */
/*Media querys*/
@media screen and (max-width: 900px){
    .b1,.b3{
        height: 300px;
    }
    .b2{
        height: 350px;
    }
}
@media screen and (max-width: 768px){
    header{
        background-position: center;
    }
    .menu-nav{
        width: 35%;
    }
    .container-lg{
        padding: 0;
    }
    .box{
        margin: 0 auto;
    }
    .b1,.b3{
        width: 30%;   
        padding: 20px 5px;     
    }
    .b2{
        width: 40%;
    }
    .b2 p{
        font-size: 16px;
    }
    .imagem{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 50%;
    }
    #botao2{
        position: static;
        display: inline-block;
    }
    .box-foo{
        flex-direction: column-reverse;
    }
}
@media screen and (max-width: 600px){
    .menu-nav{
        width: 50%;
    }
    .s1{
        padding-top: 20px;
    }
    .box{
        position: inherit;
    }
    .b1, .b3{
        width: 60%;
        top: -25px;
        height: auto;
    }
    .b2{
        top: -55px;
        height: auto;
        left: 0;
        width: 100%;
        transform: none;
    }
    .b2 p{
        font-size: 20px;
    }
    .b3{
        top: -85px;
    }
    .h1{
        margin-left: 0;
    }
}
@media screen and (max-width: 400px){
    .box-text2{
        flex-direction: column;
    }
    #btn-wpp{
        width: 100%;
    }
}